body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock-wrapper {
  width: 40vw;
  aspect-ratio: 1 / 1; /* Force a square aspect ratio */
  position: relative;
}

#clock {
  width: 100%; /* Take full width of the wrapper */
  height: 100%; /* Take full height of the wrapper */
  object-fit: cover; /* Ensure the image scales properly */
  transform-origin: center; /* Set rotation center */
  transition: transform 3s ease;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}


#pointer {
  width: 5vw;
  height: 8vh;
  z-index: 100;
}

#background-video {
  position: fixed; /* Fix the video to the viewport */
  top: 0;
  left: 0;
  width: 100%; /* Ensure the video covers the full width */
  height: 100%; /* Ensure the video covers the full height */
  object-fit: cover; /* Ensures the video scales without distortion */
  z-index: -1; /* Send the video to the background */
}

/* This will be deleted if it does not look good on my phone */
@media screen and (max-width: 600px) {
  body {
    height: 100dvh;
  }
  .container {
    margin-top: 100vh;
  }
  .clock-wrapper {
    width: 150vw;
  }
  #pointer {
    width: 20vw;
  }
  
}